@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

body {
  background: url(paperbg.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
#input {
    height: 200px;
}
#logo {
  position: relative;
}

#firstName, #middleName, #lastName, #age, #gender {
	width: 40%;


}
#modLab {
	font: 15px/24px 'Muli', sans-serif; 
	color: #333333; width: 100%;
	box-sizing: border-box;
	letter-spacing: 1px;
	vertical-align: center;
}

#ticket_input {
	font: 15px/24px 'Muli', sans-serif; 
  color: #333333;
  box-sizing: border-box;
  width: 35%;
  letter-spacing: 1px;
  vertical-align: center;
}

#soundcloud{
	position: fixed;
  right: 0;
  top: 0;
  padding-right: 12.5%;
}



#logo img {
  position: absolute;
  top: 0px;
  left: 0px;
}

#execute, #ticket_btn, #ts {
  -webkit-transition-duration: 0.2s; 
  background-color: #7fb509;
  transition-duration: 0.2s;
  background-color: #7fb509;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 40px;
}

#ticket_input {
	  font: 15px/24px 'Muli', sans-serif; 
  color: #333333;
  box-sizing: border-box;
  letter-spacing: 1px;
  vertical-align: center;
}

input[type="text"] {
  font: 15px/24px 'Muli', sans-serif; 
  color: #333333; width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  vertical-align: center;
}

input[type="time"] {
  font: 15px/24px 'Muli', sans-serif; 
  color: #333333; width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  vertical-align: center;
}



.col {
  float: left;
  margin: 14px 1%;
  position: relative;
}



.effectFirst,

.effectSetup{
  border: 1px solid transparent;
  padding: 7px 14px; transition: 0.4s;
  background: white;
}

.effectFirst ~ .focus-border:before,
.effectFirst ~ .focus-border:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #7fb509;
  transition: 0.3s;
}

.effectFirst ~ .focus-border:after{
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.effectFirst ~ .focus-border i:before,
.effectFirst ~ .focus-border i:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
  background-color: #7fb509;
  transition: 0.4s;
}

.effectFirst ~ .focus-border i:after{
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

.effectFirst:focus ~ .focus-border:before,
.effectFirst:focus ~ .focus-border:after,

.has-content.effectFirst ~ .focus-border:before,
.has-content.effectFirst ~ .focus-border:after{
  width: 100%;
  transition: 0.3s;
}
.effectFirst:focus ~ .focus-border i:before,
.effectFirst:focus ~ .focus-border i:after,

.has-content.effectFirst ~ .focus-border i:before,
.has-content.effectFirst ~ .focus-border i:after{
  height: 100%;
  transition: 0.4s;
}

.effectFirst ~ label {
  position: absolute;
  left: 14px; width: 100%;
  top: 10px; color: #aaaaaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effectFirst:focus ~ label, .has-content.effectFirst ~ label{
  font: 15px/24px 'Muli', sans-serif; 
  top: -24px;
  left: 0;
  font-size: 20px;
  color: #ffffff; font-weight: bolder;
  text-shadow: 1px 1px #7fb509;
  transition: 0.3s;
}

#modal_header{
	background-color: #009933;
}
#modText{
	color:#ffffff;
}
#modal_footer{
	background-color: #009933;
}
#confirm {  
	text-align: center;
	display: inline-block; 
	border-radius: 20px;
	width: 12%;
	padding: 10px;
	font-size: 14px; 
	justify-content: center;
	float: right;
}

#flight_information{
	font: 15px/24px 'Muli', sans-serif; 
  color: #333333; width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;

	background-color:rgba(220, 220, 220, 0.9);
	justify-content: center;
	width: 60%;
	text-align: center; 
	margin: auto;
	display: inline-block;
    position: relative;
    	text-align: center;
	display: inline-block; 
	border-radius: 20px;
	padding: 10px;
	font-size: 14px; 
	justify-content: center;


}
#ticket_information{
font: 15px/24px 'Muli', sans-serif; 
  color: #333333; width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;

	background-color:rgba(220, 220, 220, 0.9);
	justify-content: center;
	width: 60%;
	text-align: center;
	margin: auto;
	display: inline-block;
    position: relative;
}
